<div class="home-header">
  <h1>Todos os Pensametos</h1>
</div>
<div class="toughts-container">
  {{#each toughts}}
    <figure>
      <blockquote>
        "{{this.title}}"
        <figcaption>por <span>{{this.User.name}}</span></figcaption>
      </blockquote>
    </figure>
  {{/each}}
</div>